<style>
a:link {
    color: #269a7b;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: #565e8a;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #86f703;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: #565e8a;
    background-color: transparent;
    text-decoration: underline;
}
</style>


<html>
<body>
  <h2 id = "titleDetails" >A task already exists for {{result.day}} </h2>

    <li>Day: {{ result.day }}    
    <li>Time: {{ result.taskTime }}
    <li>Task: {{ result.taskType }}
    <li>Details: {{ result.taskName }}
    <br></br>
    <a href="http://localhost:3000/delete?day={{result.day}}" target="_blank">Delete Task</a><br>
    <a href="http://localhost:3000/" target="_blank">Return to Home</a>

</body>
</html> 