<style>
a:link {
    color: #269a7b;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: #565e8a;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #86f703;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: #565e8a;
    background-color: transparent;
    text-decoration: underline;
}
</style>


<html>
<body>
  
  {{#if result}}
        <h2 id = "titleDetails" >Details for {{result.day}}</h2>
        <li>Day: {{ result.day }}    
        <li>Time: {{ result.taskTime }}
        <li>Task: {{ result.taskType }}
        <li>Details: {{ result.taskName }}
        <br></br>
        <a href="http://localhost:3000/delete?day={{result.day}}" target="_blank">Delete Task</a>

  {{else}}
    <h2 id = "titleDetails">No tasks currently assigned to this day of the week...</h2>
    <div type=text id="noTasks">
    <a id=test href="http://localhost:3000/addNew" target="_blank">Add New Task</a><br>
    <a id=test href="http://localhost:3000/" target="_blank">Return to home</a>
<!--     <script>
        if (location.href.split("=")[1]!==undefined) {
            document.getElementById("noTasks").innerHTML = location.href.split("=")[1] + " has no tasks currently assigned to it";

            document.getElementById("titleDetails").innerHTML = "Details for " + location.href.split("=")[1];
        } else {
            document.getElementById("noTasks").innerHTML = "";

            document.getElementById("titleDetails").innerHTML = "NO RESULTS AVAILABLE";
            <a id=test href="http://localhost:3000/addNew" target="_blank">Add New Task</a>
        }
    </script>  -->

  {{/if}}
  <br>

</body>
</html> 